* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.burger_menu{
    margin: 30px;
    position: absolute;
    right: 0;
    z-index: 100;
}

.burger_menu label span{
    height: 6px;
    width: 50px;
    background-color: purple;
    display: block;
    margin-bottom: 10px;
}

.menu {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    transition: 1s;
    padding-top: 40px;
    border-radius: 20px 0 0 20px;

    background: rgba(182, 194, 250, 0.219);
}

.menu a{
    display: block;
    padding: 30px 20px;
}

#toggle-menu {
    display: none;
}

#toggle-menu:checked ~ .menu {
    transform: translateX(100%);
    transition: 1s;
}

#toggle-menu:checked ~ .burger_menu span:nth-child(1) {
    transform: rotate(45deg) translateY(22px);
    transition: 1s;
}

#toggle-menu:checked ~ .burger_menu span:nth-child(2) {
    opacity: 0;
    transition: 1s;
}

#toggle-menu:checked ~ .burger_menu span:nth-child(3) {
    transform: rotate(-45deg) translateY(-22px);
    transition: 1s;
}

.banner {
    height: 100vh;
    background:rgb(87, 29, 126) url("bg1.png");
}

.about {
    height: 100vh;
    background: rgb(87, 29, 126);
    h2 {
        text-align: center;
    }
}

.fade{
    width: 90%;
    height: 90%;
    margin:0 auto;
    border-radius: 50px;
    background: url("image 66.png");
    background-position: center;
    background-size: 100% 120%;
    color: gainsboro;
    transition: 1s;
}

.fade:hover{
    background-size: 120% 150%;
    filter: grayscale(50%);
}

.fade_text:hover{
    opacity: 1;
}

.fade_text{
    transition: 1s;
    opacity: 0;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}